global
    log /dev/log local0
    user haproxy
    group haproxy
    daemon
    maxconn 50000
    ssl-server-verify none

defaults
    log global
    mode tcp
    option tcplog

    timeout connect 5s
    timeout client 300s
    timeout server 300s

frontend https_front
    bind 0.0.0.0:443
    mode tcp

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    default_backend k8s_https_backend

backend k8s_https_backend
    mode tcp
    option tcp-check

    #server k8s-Dev-cluster <dev_lb_public_ip:443  check inter 3s fall 3 rise 2
    #server k8s-Uat-cluster <uat_lb_public_ip>:443 check inter 3s fall 3 rise 2 backup

    server k8s-Dev-cluster <dev_lb_public_ip:443  check inter 3s fall 3 rise 2
    server k8s-Uat-cluster <uat_lb_public_ip>:443 check inter 3s fall 3 rise 2 backup

listen stats
    bind *:8404
    mode http

    stats enable
    stats uri /stats
    stats refresh 5s
